<!DOCTYPE html>
<html>
<head>
    <title>3-Day Weather Forecast App</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>3-Day Weather Forecast App</h1>
    <form id="city-form" method="post" action="/get_3day_forecast">
        <label for="city">Enter City:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Get Forecast</button>
    </form>
    <div id="forecast">
        {% if forecast %}
            <h2>3-Day Weather Forecast for {{ city }}</h2>
            <div id="forecast-container">
                {% for forecast_entry in forecast %}
                    <div class="forecast-item">
                        <img class="weather-icon-large"
                             src="https://openweathermap.org/img/wn/{{ forecast_entry.icon }}.png"
                             alt="{{ forecast_entry.description }}">
                        <div class="weather-details">
                            <strong>{{ forecast_entry.date }}</strong><br>
                            Temperature: {{ forecast_entry.temperature }}°C<br>
                            Description: {{ forecast_entry.description }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</div>
</body>
</html>
